<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>

    <title>Domain graphics test page</title>
    <!--  jmht -->
    <meta charset="utf-8"/>

    <!-- load the prototype library from google -->
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">google.load("prototype", "1.7");</script>

    <!-- the domain graphics library -->
    <script type="text/javascript" src="static/javascripts/domain_graphics.js"></script>

    <!-- in order to standardize the look of text, and in order to make it work at
         all in older browsers (and IE), we need the canvas text library. And, in turn,
         that library uses a font description in a separate javascript file -->
    <!-->
      <script type="text/javascript" src="static/javascripts/canvas.text.js?dontUseMoz=true&amp;reimplement=true"></script>
    </!-->
    <script type="text/javascript" src="static/javascripts/canvas.text.js?dontUseMoz=true&amp;reimplement=true"></script>
    <script type="text/javascript" src="static/javascripts/faces/optimer-bold-normal.js"></script>

    <!-- we use the (non-free) prototip2 library to add tooltips. It's not free, but
         nearly. The domain graphics code should cope if it's not loaded, so you
         could just omit the prototip load -->
    <script type="text/javascript" src="shared/javascripts/prototip.js"></script>
    <script type="text/javascript" src="shared/javascripts/styles.js"></script>

    <!-- jmht -->
    <script type="text/javascript" src="data.js" ></script>

    <!-- stylesheets. We only really need the rules that are specific to the tooltips -->
    <link rel="stylesheet" href="static/css/pfam.css" type="text/css" />
    <link rel="stylesheet" href="shared/css/prototip.css" type="text/css" />

    <!-- IE, being IE, needs extra help. In particular we need to add an extra library
         that implements <canvas> using the VML drawing layer in IE. And, so that
         "console.log" calls don't screw everything up, we include the firebug-lite
         script -->
    <!--[if IE]>
      <script type="text/javascript" src="/static/javascripts/excanvas.js"></script>
      <script type="text/javascript" src="http://getfirebug.com/releases/lite/1.2/firebug-lite-compressed.js"></script>
    <![endif]-->

    <style type="text/css">
      #classification canvas {
        margin: 1em;
      }
      #regions canvas {
        margin: 1em;
      }
      #errors {
        border: 1px solid red;
        margin: 1em 0;
        padding: 0.4em;
      }
      .hidden { display: none;}
      #classification, #regions {
        border: 1px solid black;
        display: table-caption; /* so wrong but works for now */
      }
      .pfam_class {
        /* border: 1px solid blue; */
        display: inline-block;
      }
      .pfam_region {
        /* border: 1px solid green; */
        display: inline-block;
      }
    </style>

  </head>

  <body>

{% if hkl_info is defined %}
    <h2>HKL Information</h2>
    {{ hklin_info }}
{% endif %}

{% if homolog_table is defined %}
    <h2>Homologs</h2>
    {{ homolog_table }}
{% endif %}

    <!-- this will hold the canvas element -->
    <br/>

    <h2>Classification</h2>
    <div id='classification'></div>
    <h2>Regions</h2>
    <div id="regions"></div>

    <div id="errors" style="display: none"></div>

    <!-- This is the script tag that is responsible for controlling the page.
         We define a function that's will actually generate the domain graphic,
         based on the content of the form field above. -->
    <script type="text/javascript">
      // <![CDATA[
      function add_graphic(region, parent, div_id, div_class) {
        let gdiv = document.createElement('div');
        gdiv.setAttribute('id', div_id);
        gdiv.setAttribute('class', div_class);
        parent.appendChild(gdiv);
        let pg = new PfamGraphic();
        pg.setImageParams( {
          residueWidth: 1.0,
          xscale: 1.0,
          yscale: 1.0
          } );
        try {
          pg.setParent(div_id)
          pg.setSequence(region);
          pg.render();
        } catch (e) {
          $("errors").update(e).show();
          return;
        }
      }

      // a function to blank everything and start again
      var clear = function() {
        $("errors").hide();
        var root_div = document.getElementById('classification');
        while (root_div.firstChild) {
                root_div.removeChild(root_div.firstChild);
         }
        var root_div = document.getElementById('regions');
        while (root_div.firstChild) {
                root_div.removeChild(root_div.firstChild);
         }
      }

      var generate = function() {
        // console.log(JSON.stringify(pfam_json))
        clear();
        var class_div = document.getElementById('classification');
        // Add canvases for graphics
        var ss_pred = pfam_json.ss_pred;
        add_graphic(ss_pred, class_div, 'pfam_sspred', 'pfam_class');
        var classification = pfam_json.classification;
        add_graphic(classification, class_div, 'pfam_type', 'pfam_class');
        var regions_div = document.getElementById('regions');
        // let gdiv = document.createElement('div');
        // gdiv.setAttribute('id', 'pfam_region');
        // root_div.appendChild(gdiv);
        var regions = pfam_json.regions;
        for (let i = 0; i < regions.length; i++) {
          let region = regions[i];
          let gdiv_id = 'pfam_region_' + i;
          let gdiv_class = 'pfam_region';
          // add_graphic(region, gdiv, gdiv_id, gdiv_class);
          add_graphic(region, regions_div, gdiv_id, gdiv_class);
        }
      } // generate

      // when the DOM is loaded, add listeners to the two buttons
      document.observe( "dom:loaded", function() {
        generate ();
      } );
      // ]]>
    </script>

  </body>

</html>
