<!DOCTYPE html>
<!--
data attribute creates object that is bound to this

computed - computed property but with caching
method - computed property - invoked each time

v-model - links inputs to vue js data


https://codepen.io/pespantelis/pen/ojwgPB
https://www.raymondcamden.com/2018/02/08/building-table-sorting-and-pagination-in-vuejs
-->

<html>

<head>
  <title>My first Vue app</title>
  <!-- <script src="https://unpkg.com/vue"></script> -->
  <script type="text/javascript" src="vue.js"></script>
  <script type="text/javascript" src="lodash.min.js"></script>
  <script type="text/javascript" src="mrparse.js"></script>

  <!-- the domain graphics library -->
  <script type="text/javascript" src="pfam/prototype.js"></script>
  <script type="text/javascript" src="pfam/static/javascripts/domain_graphics.js"></script>

  <!-- in order to standardize the look of text, and in order to make it work at
       all in older browsers (and IE), we need the canvas text library. And, in turn,
       that library uses a font description in a separate javascript file -->
  <!-->
  <script type="text/javascript" src="pfam/static/javascripts/canvas.text.js?dontUseMoz=true&amp;reimplement=true"></script>
  </!-->
  <script type="text/javascript" src="pfam/static/javascripts/canvas.text.js?dontUseMoz=true&amp;reimplement=true"></script>
  <script type="text/javascript" src="pfam/static/javascripts/faces/optimer-bold-normal.js"></script>

  <!-- we use the (non-free) prototip2 library to add tooltips. It's not free, but
       nearly. The domain graphics code should cope if it's not loaded, so you
       could just omit the prototip load -->
  <script type="text/javascript" src="pfam/shared/javascripts/prototip.js"></script>
  <script type="text/javascript" src="pfam/shared/javascripts/styles.js"></script>

  <!-- stylesheets. We only really need the rules that are specific to the tooltips -->
  <link rel="stylesheet" href="pfam/static/css/pfam.css" type="text/css" />
  <link rel="stylesheet" href="pfam/shared/css/prototip.css" type="text/css" />

  <!-- IE, being IE, needs extra help. In particular we need to add an extra library
       that implements <canvas> using the VML drawing layer in IE. And, so that
       "console.log" calls don't screw everything up, we include the firebug-lite
       script -->
  <!--[if IE]>
    <script type="text/javascript" src="/static/javascripts/excanvas.js"></script>
    <script type="text/javascript" src="http://getfirebug.com/releases/lite/1.2/firebug-lite-compressed.js"></script>
  <![endif]-->


  <style type="text/css">
    body {
      padding: 10px;
    }

    .container {
      width: 100%;
      margin: auto;
    }

    .homolog-table {
      width: 45%;
      float: left;
    }

    .pfam-graphics {
      margin-left: 45%;
      /* clear: left; */
    }

    table th, td {
      border: 1px solid black;
      padding: 2px;
    }

    table th {
      background-color: #d3d3d3;
      text-align: left;
    }

    .homolog-table th > a {
      text-decoration: none;
      color: #000000;
    }

    .homolog-table th > a:hover {
      text-decoration: none ! important;
      /* color: #000000; */
    }

    /* responsive structures */
    @media screen and (max-width: 1308px) {
      .pfam-graphics {
        margin-left: 0px;
        clear: left;
      }
    }

  </style>
</head>

<body>
  <div id="app">
    <h2>HKL Info</h2>
    <hkl-info-table></hkl-info-table>
    <h2>Homolog Information</h2>
    <section class="container">
      <homolog-table></homolog-table>
      <pfam-graphics></pfam-graphics>
    </section>
  </div>

  <script>
    function add_graphic(region, parent, residueWidth = 1.0) {
      let pg = new PfamGraphic();
      pg.setImageParams({
        residueWidth: residueWidth,
        xscale: 1.0,
        yscale: 1.0
      });
      pg.setParent(parent);
      pg.setSequence(region);
      pg.render();
    }

    const EventBus = new Vue();

    Vue.filter("decimalPlaces", (value, num = 2) => {
        return value.toFixed(num)
      });

    Vue.component('pfam-graphics', {
      data: function() {
        return {
          homologs: this.$root.homologs,
          ss_pred: this.$root.ss_pred,
          classification: this.$root.classification
        }
      },
      created: function() {
        EventBus.$on("sortedData", sortedData => {
          this.homologs = sortedData;
        })
      },
      template: `
      <div class="pfam-graphics" ref=pfamgraphics>
        <h2>Classification</h2>
        <div id='classification'></div>
        <pfam-region :id="'ss_pred'" :region="ss_pred"/>
        <pfam-region :id="'classification'" :region="classification"/>
        <h2>Regions</h2>
        <pfam-region v-for="homolog in homologs" :key="homolog.name" :id="homolog.name" :region="homolog._pfam_json"/>
      </div>
      `
    });

    Vue.component('pfam-region', {
      props: {
        region: Object
      },
      mounted: function() {
        let residueWidth = Math.max(1.0, this.$parent.$refs.pfamgraphics.clientWidth / this.region.length);
        add_graphic(this.region, this.$refs.cdiv, residueWidth);
      },
      template: '<div id=id ref=cdiv></div>'
    });

    Vue.component('hkl-info-table', {
      data: function() {
        return {
          hklinfo: this.$root.hklinfo
        }
      },
      template: `<div id="hkl_info">
  <table>
    <thead>
      <tr style="text-align: right;">
        <th>name</th>
        <th>Resolution</th>
        <th>Space Group</th>
        <th>Has NCS?</th>
        <th>Has Twinning?</th>
        <th>Has Anisotropy?</th>
        <th>File Path</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ hklinfo.name }}</td>
        <td>{{ hklinfo.resolution | decimalPlaces }}</td>
        <td>{{ hklinfo.space_group}}</td>
        <td>{{ hklinfo.has_ncs}}</td>
        <td>{{ hklinfo.has_twinning}}</td>
        <td>{{ hklinfo.has_anisotropy}}</td>
        <td>{{ hklinfo.hklin}}</td>
      </tr>
    </tbody>
  </table>
</div>`
    });


    Vue.component('homolog-table', {
      data: function() {
        return {
          homologs: this.$root.homologs,
          columns: ['name', 'region', 'range', 'length', 'eLLG', 'ncopies', 'molecular_weight', 'rmsd', 'seqid'],
          columnTitles: {
            'name': 'Protein Name',
            'region': 'Number of the region',
            'range': 'Start - stop coordinates of the homolog',
            'length': 'Length of the homolog in residues',
            'eLLG': 'Computed Log Likelihood Gain',
            'ncopies': 'Expected number of copies in the ASU',
            'molecular_weight': 'Molecular Weight in Daltons',
            'rmsd': 'RMSD from template',
            'seqid': 'Sequence Identity to template'
          },
          sortKey: 'domain',
          order: 'asc',
        }
      },
      methods: {
        sortBy: function(sortKey) {
          if (this.sortKey == sortKey) {
            if (this.order == 'asc') {
              this.order = 'desc';
            } else {
              this.order = 'asc';
            }
          }
          this.sortKey = sortKey;
          this.homologs = _.orderBy(this.homologs, this.sortKey, this.order);
          EventBus.$emit("sortedData", this.homologs);
          return
        },
        getTitle: function(column) {
          return this.columnTitles[column];
        }
      },
      mounted: function() {
        this.sortBy('region')
      },
      template: `
      <div class="homolog-table">
      <table id="homologs">
          <thead>
            <tr>
              <th v-for="column in columns">
                <a href="#" @click="sortBy(column)" v-bind:title="getTitle(column)">
                  {{ column }}
                </a>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="homolog in homologs">
              <td>{{homolog.name}}</td>
              <td>{{homolog.region}}</td>
              <td>{{homolog.range}}</td>
              <td>{{homolog.length}}</td>
              <td>{{homolog.eLLG}}</td>
              <td>{{homolog.ncopies}}</td>
              <td>{{homolog.molecular_weight | decimalPlaces}}</td>
              <td>{{homolog.rmsd}}</td>
              <td>{{homolog.seqid}}</td>
            </tr>
          </tbody>
        </table>
        </div>
        `
    })

    new Vue({
      el: '#app',
      /* Check hkl_info undefined */
      data: {
        homologs: mrparse_data.pfam.homologs,
        ss_pred: mrparse_data.pfam.ss_pred,
        classification: mrparse_data.pfam.classification,
        hklinfo: mrparse_data.hkl_info
      },
    })
  </script>

</body>

</html>
